<head>
    <%- include ('components/head.ejs') %>
    <style>
        /* if mobile, disable scroll of the whole page */
        @media (max-width: 768px) {
            body {
                overflow: auto!important;
            }
        }
    </style>
</head>
<body class="bg-neutral-900">

    <%- include ('components/navbar-history.ejs') %>

    <main class="grid grid-cols-1 w-full text-center justify-center items-center bg-neutral-900 py-4 px-4" style="max-height: calc(100vh - 76px);">

        <div class="flex flex-col items-center justify-center w-full h-full py-4 px-4">
            <!-- Second Row: Chess Board -->
            <div class="flex-grow w-full w-full justify-center items-center flex py-8 relative">
                <div id="myBoardHistory" class="w-full max-w-xl  aspect-square m-auto"></div>
            </div>
        
            <!-- Third Row: Buttons -->
            <div class="w-full max-w-xl">
                <div class="flex text-center justify-center items-center space-x-2">
                    <button id="back" class="border-4 border-neutral-900 bg-neutral-800 px-6 py-4 text-neutral-100 font-bold w-full relative transition rounded-md">Back</button>
                    <button id="next" class="border-4 border-neutral-900 bg-neutral-800 px-6 py-4 text-neutral-100 font-bold w-full relative transition rounded-md">Next</button>
                </div>
            </div>

            <div class="w-full pt-8">
                <div id="lastMoveDiv" class="w-full text-neutral-500 text-start bg-neutral-800 px-4 py-4 rounded-md border border-neutral-700 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-60 transition px-8 py-8 text-xl">
                    <h2 class="font-bold text-neutral-400">MOVE INFORMATION</h2>
                    <div class="h-0.5 bg-neutral-700 w-full my-2"></div>
                
                    <div id="moveInformationDiv" class="">
                        <p id="moveCurrent"></p>
                        <p id="moveMadeBy"><a class="text-neutral-500"></a></p>
                        <p id="moveDate"></p>
                    </div>
                </div>                    
            </div>
        </div>

    </main>

    <!-- <div id="paymentModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full border-4 border-neutral-800 bg-neutral-900 rounded-xl" style="z-index: 101;">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative rounded-lg shadow bg-neutral-900 border-2 border-neutral-800">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-neutral-800">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-neutral-100">
                        Buy Move Tokens
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-100" data-modal-hide="paymentModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="p-4 md:p-5 space-y-4">
                    <div class="flex flex-col items-center justify-center w-full h-full py-4 text-neutral-100 bg-neutral-900">
                        <img src="assets/img/token.png" class="px-4 py-4 text-center self-center" width="150">
                        <div id="paymentModalBody" class="flex-grow w-full max-w-full overflow-auto rounded-md">
                            <button data-amount="1" data-price-id="price_1Ok5R3D41r71UjhtDvR6UpO0" class="bg-neutral-800 text-neutral-100 px-6 py-4 font-bold w-full relative transition rounded-md">Buy 1 Token ( $1 )</button>
                            <button data-amount="3" data-price-id="price_1Ok5ReD41r71UjhtSJDJpFyH" class="bg-neutral-800 text-neutral-100 px-6 py-4 font-bold w-full relative transition rounded-md my-2">Buy 3 Tokens ( $3 )</button>
                            <button data-amount="7" data-price-id="price_1Ok5SRD41r71UjhtONj6bqeE" class="bg-neutral-800 text-neutral-100 px-6 py-4 font-bold w-full relative transition rounded-md">Buy 7 Tokens ( $7 )</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full border-4 border-neutral-800 bg-neutral-900 rounded-xl" style="z-index: 101;">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative rounded-lg shadow bg-neutral-900 border-2 border-neutral-800">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-neutral-800">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-neutral-100">
                        Game History
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-100" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div id="game-log" class="flex flex-col items-center justify-center w-full h-full py-4 text-neutral-100 bg-neutral-900">
                        <div class="flex-grow w-full max-w-full overflow-auto rounded-md border-8 border-neutral-800">
                            <table id="movesTable" class="w-full text-black" style="min-height: 50vh;">
                                <thead class="bg-neutral-900 text-neutral-100 border-b-8 border-neutral-900">
                                    <tr>
                                        <th class="px-4 py-4">Move</th>
                                        <th class="px-4 py-4">Twitter/X Handle</th>
                                        <th class="px-4 py-4">Date</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white">
                                    <tr class="text-center">
                                        <th class="px-4 py-4" colspan="4">Go to the game view to view moves</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th class="px-4 py-4" colspan="4">
                                            <a href="/game" class="text-blue-500">View Game</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination" class="flex justify-center items-center pt-4 text-neutral-100">
                            <button id="prevMove" class="px-6 py-4 font-bold relative transition mr-1">Prev</button>
                            <span id="page" class="bg-neutral-900 px-4 py-2 text-neutral-100 font-bold relative transition rounded-md">1</span>
                            <button id="nextMove" class="px-6 py-4 font-bold relative transition mr-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rulesModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full border-4 border-neutral-800 bg-neutral-900 rounded-xl" style="z-index: 101;">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-neutral-900 border-2 border-neutral-800">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-neutral-800 rounded-t">
                    <h3 class="text-xl font-bold text-gray-300">
                        Rules & Info
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-100" data-modal-hide="rulesModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div class="text-gray-300 px-4 py-4">
                        <h2 class="text-2xl font-black">Globchess</h2>
                        <p class="text-sm">World's largest chess game</p>
                        <div class="w-full h-1 bg-neutral-800 my-2"></div>
                        <h3 class="text-xl font-bold">How to play</h3>
                        <p>Make a move by dragging and dropping the pieces. You can also use the buttons to make a move or reset a move.</p>
                        <div class="w-full h-1 bg-neutral-800 my-1"></div>
                        <h3 class="text-xl font-bold">Rules</h3>
                        <p>Standard chess rules apply. The game is played in a turn-based manner. You can only make a move when it's your turn.</p>
                        <div class="w-full h-1 bg-neutral-800 my-1"></div>
                        <h3 class="text-xl font-bold">Winning</h3>
                        <p>There are no winners or losers in this game. It's a collaborative game where everyone in the world contributes to the game.</p>
                        <div class="w-full h-1 bg-neutral-800 my-1"></div>
                        <h3 class="text-xl font-bold">Payment</h3>
                        <p>There is a small fee to make a move. This is to prevent spam and to keep the game fair for everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pastGamesModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full border-4 border-neutral-800 bg-neutral-900 rounded-xl" style="z-index: 101;">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-neutral-900 border-2 border-neutral-800">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-neutral-800 rounded-t">
                    <h3 class="text-xl font-bold text-gray-300">
                        View Past Games
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-neutral-600 dark:hover:text-neutral-100" data-modal-hide="pastGamesModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div class="text-gray-300 px-4 py-4 grid grid-cols-2 gap-4 games-container">

                    </div>
                    <div class="col-span-2">
                        <!-- pagination -->
                        <div class="flex justify-center items-center pt-4 text-neutral-100">
                            <button id="prevGame" class="px-6 py-4 font-bold relative transition mr-1">Prev</button>
                            <span id="pageGame" class="bg-neutral-900 px-4 py-2 text-neutral-100 font-bold relative transition rounded-md">1</span>
                            <button id="nextGame" class="px-6 py-4 font-bold relative transition mr-1">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="drawer-example" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-neutral-900" tabindex="-1" aria-labelledby="drawer-label">
        <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
         <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
       </svg>Info</h5>
        <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-neutral-600 dark:hover:text-white" >
           <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
           </svg>
           <span class="sr-only">Close menu</span>
        </button>
           
        <h2 class="text-xl font-black text-neutral-300 pb-2">About the creator</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">👋 Hey there. My name is Dennis and I go by Kubeden online. If you like what I built here and you feel like chatting, feel free to do so on my <a class="text-blue-500" href="https://x.com/kubeden">x.com/kubeden</a> profile!</p>

        <div class="w-full h-0.5 bg-neutral-800 my-4"></div>

        <h2 class="text-xl font-black text-neutral-300 pb-2">About the app</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">🌎 The chess game you see on your screen is available to any one in the world! Inspired by Wordle, I aimed to create a similar experience but with chess.</p>

        <div class="w-full h-0.5 bg-neutral-800 my-4"></div>
     </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="assets/js/chessboard-1.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" defer></script>
    <script src="assets/js/obfuscated/chessLogicHistory.js" type="module" defer></script>


    <script type="module">
        function _0x3818(){const _0x5e4099=['<img\x20src=\x22','#userImage2','7195RSCGqS','\x22\x20alt=\x22user\x20image\x22\x20class=\x22w-8\x20h-8\x20rounded-full\x20border-2\x20border-neutral-800\x22>','onAuthStateChanged','2360030IhQnHP','302791CSHjPM','user\x20is\x20signed\x20in','log','2685184PsMxoz','user\x20is\x20not\x20signed\x20in','\x22\x20alt=\x22user\x20image\x22\x20class=\x22w-11\x20h-11\x20rounded-full\x20border-2\x20border-neutral-800\x22>','315458vYETgZ','href','location','116oiJAFd','photoURL','1236vFDTkL','#userImage','uid','innerHTML','6328lePpJu','querySelector','3JsnbPl','2883096ZMhyyk'];_0x3818=function(){return _0x5e4099;};return _0x3818();}const _0x5e54c4=_0x2633;(function(_0x1aa108,_0x437ec7){const _0x261981=_0x2633,_0xa9bb83=_0x1aa108();while(!![]){try{const _0x305791=parseInt(_0x261981(0x89))/0x1+parseInt(_0x261981(0x8f))/0x2*(-parseInt(_0x261981(0x81))/0x3)+parseInt(_0x261981(0x92))/0x4*(-parseInt(_0x261981(0x85))/0x5)+-parseInt(_0x261981(0x94))/0x6*(parseInt(_0x261981(0x7f))/0x7)+parseInt(_0x261981(0x8c))/0x8+-parseInt(_0x261981(0x82))/0x9+parseInt(_0x261981(0x88))/0xa;if(_0x305791===_0x437ec7)break;else _0xa9bb83['push'](_0xa9bb83['shift']());}catch(_0x4f70b4){_0xa9bb83['push'](_0xa9bb83['shift']());}}}(_0x3818,0x291de));import{auth}from'/assets/js/obfuscated/firebaseInit.js';import{updateTokens}from'/assets/js/handleHtml.js';function _0x2633(_0x1b0880,_0x2cd6a8){const _0x3818cb=_0x3818();return _0x2633=function(_0x263353,_0x1cdd59){_0x263353=_0x263353-0x7d;let _0xfa5d8=_0x3818cb[_0x263353];return _0xfa5d8;},_0x2633(_0x1b0880,_0x2cd6a8);}auth[_0x5e54c4(0x87)](function(_0x3a873b){const _0x4b4c17=_0x5e54c4;if(_0x3a873b){updateTokens(_0x3a873b),console[_0x4b4c17(0x8b)](_0x4b4c17(0x8a));if(_0x3a873b[_0x4b4c17(0x93)]===null){const _0x3d3001='https://www.gravatar.com/avatar/'+_0x3a873b[_0x4b4c17(0x7d)]+'?d=identicon';document[_0x4b4c17(0x80)](_0x4b4c17(0x95))[_0x4b4c17(0x7e)]=_0x4b4c17(0x83)+_0x3d3001+'\x22\x20alt=\x22user\x20image\x22\x20class=\x22w-11\x20h-11\x20rounded-full\x20border-2\x20border-neutral-800\x22>',document['querySelector'](_0x4b4c17(0x84))[_0x4b4c17(0x7e)]='<img\x20src=\x22'+_0x3d3001+_0x4b4c17(0x86);}else document[_0x4b4c17(0x80)]('#userImage')[_0x4b4c17(0x7e)]=_0x4b4c17(0x83)+_0x3a873b['photoURL']+_0x4b4c17(0x8e),document[_0x4b4c17(0x80)](_0x4b4c17(0x84))[_0x4b4c17(0x7e)]='<img\x20src=\x22'+_0x3a873b[_0x4b4c17(0x93)]+_0x4b4c17(0x86);}else console[_0x4b4c17(0x8b)](_0x4b4c17(0x8d)),window[_0x4b4c17(0x91)][_0x4b4c17(0x90)]='/';});
    </script>
    
</body>
</html>
