<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="assets/img/logo.png">

<!-- Title Tag -->
<title>Globchess | The Global Chess Game</title>

<!-- Meta Description -->
<meta name="description" content="Globchess is the global chess game anyone can participate in!">

<!-- Meta Keywords (not commonly used now) -->
<meta name="keywords" content="chess, global">

<!-- Canonical Tag -->
<link rel="canonical" href="https://www.globchess.com">

<!-- Robots Meta Tag -->
<meta name="robots" content="index, follow">

<!-- Open Graph Tags -->
<meta property="og:title" content="Globchess | The Global Chess Game">
<meta property="og:description" content="Globchess is the global chess game anyone can participate in!">
<meta property="og:image" content="assets/img/background.jpg">
<meta property="og:url" content="https://www.globchess.com">
<meta property="og:type" content="website">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@globchess">
<meta name="twitter:title" content="Globchess | The Global Chess Game">
<meta name="twitter:description" content="Globchess is the global chess game anyone can participate in!">
<meta name="twitter:image" content="assets/img/background.jpg">

<!-- Author and Publisher Tags -->
<meta name="author" content="Kubeden">
<meta name="publisher" content="Denislav Gavrilov / Kubeden">

<!-- CSS & JS -->
<link rel="stylesheet" href="assets/css/chessboard-1.0.0.min.css">
<link rel="stylesheet" href="assets/css/base.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/962e4108cf.js" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>

<style>
    /* if mobile, disable scroll of the whole page */
    @media (max-width: 768px) {
        body {
            overflow: hidden!important;
        }
    }
</style>